
@Html.Partial("_Header")
@Html.Partial("_Navbar")

    <div class="container body-content">
        @RenderBody()
    </div>

@Html.Partial("_Footer")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
